#**********************************************************
#             LSF 10.1 SERVER.CONFIG FILE
#**********************************************************
#
# Name:     server.config
#
# Purpose:  LSF installation options
#
# $Id$
#
# Server Hosts:
# Server hosts are dynamically added hosts that are not master
# candidates. LSF binaries, lsf.conf file, and shell environment
# scripts are installed locally on each host.
#
# File Format:
#    o  Options (without # sign) can only appear once in the file.
#    o  Blank lines and lines starting with a pound sign (#)
#       are ignored.
#
# Option Format:
#    o  Each disabled example looks like this:
#       # -----------------
#       # LSF_OPTION_NAME="EXAMPLE_VALUE"
#       # -----------------
#
#    o  An enabled option looks like this:
#       # -----------------
#       LSF_OPTION_NAME="ACTUAL_VALUE"
#       # -----------------
#
#
# Instructions:
#    1. Edit server.config to specify the options for
#       your cluster. Uncomment the options you want and
#       replace the example values with your own settings.
#       Note that the sample values shown in this template
#       are EXAMPLES only. They are not always the default
#       installation values.
#
#    2. Run ./lsfinstall -s -f server.config
#
#
#**********************************************************
# -----------------
LSF_TOP="/opt/lsf"
# -----------------
# Full path to the local top-level LSF installation directory
# {REQUIRED}
#
# The path to LSF_TOP cannot be the root directory (/).
#
# -----------------
LSF_ADMINS="lsfadmin"
# -----------------
# List of LSF administrators {REQUIRED}
#
# The first user account name in the list is the primary LSF
# administrator. It cannot be the root user account.
# Typically this account is named lsfadmin.
# It owns the LSF configuration files and log files for job events.
# It also has permission to reconfigure LSF and to control batch
# jobs submitted by other users. It typically does not have
# authority to start LSF daemons. Usually, only root has
# permission to start LSF daemons.
# All the LSF administrator accounts must exist on all hosts in the
# cluster before you install LSF.
# Secondary LSF administrators are optional.
#
# -----------------
LSF_TARDIR="/opt/install_files"
# -----------------
# Full path to the directory containing the LSF distribution tar files
#
# Default: parent directory of the current working directory
#          For example, if lsfinstall is running under
#          /usr/share/lsf_distrib/lsf_lsfinstall
#          the LSF_TARDIR default value is
#          /usr/share/lsf_distrib
#
#
# -----------------
LSF_ENTITLEMENT_FILE="/opt/install_files/lsf_std_entitlement.dat"
# -----------------
# You must specify a full path to the LSF entitlement file.
#**********************************************************
# Use the following options to add a non-shared server-only
# host to the cluster
#**********************************************************
# -----------------
LSF_SERVER_HOSTS="lsf-master"
# -----------------
# List of LSF server hosts in the cluster to be contacted {REQUIRED
# for non-shared installation}
#
# Specify a list of host names two ways:
# o  Host names separated by spaces
# o  Name of a file containing a list of host names,
#    one host per line. For example:
#        LSF_SERVER_HOSTS=:lsf_server_hosts
#    The file lsf_server_hosts contains:
#        hostm
#        hosta
#        hostb
#        hostc
#
# Default: none
#
# -----------------
# LSF_LOCAL_RESOURCES="[hostname hoste][server 1][resource resource1][resourcemap n*resource1]"
# -----------------
# Defines instances of local resources residing on the server 
# host
#
# Resources must already be mapped to hosts in the ResourceMap section
# of lsf.cluster.cluster_name.
# For numeric resources, define name-value pairs:
#     [resourcemap <value>*<resource name>]
# For Boolean resources, define the resource name in the form:
#     [resource <resource_name>]
# For example, a valid local resource definition can be:
# LSF_LOCAL_RESOURCES="[resourcemap 1*verilog][resource nt]"
#
# Default: none
#
# -----------------
LSF_LIM_PORT="7869"
# -----------------
# TCP service port for server host.
#
# Use the same port number as LSF_LIM_PORT defined in lsf.conf on the
# master host.
#
# Default: 7869 
#
# -----------------
ENABLE_EGO="N"
# -----------------
# Enables EGO in LSF. The following features depend on EGO:
# - EGO daemon control 
# - EGO-enabled SLA 
#
# Set the value to "Y" if you want to enable EGO and its feature set. 
# 
# Default: disable EGO
#
# -----------------
# EGO_DAEMON_CONTROL="N"
# -----------------
# Enables EGO to control LSF res and sbatchd
#
# This setting takes effect whenever EGO is enabled in the cluster. 
#
# Set the value to "Y" if you want EGO Service Controller to start res
# and sbatchd, and restart if they fail.
#
# Default: res and sbatchd are started manually
#
#
# -----------------
SILENT_INSTALL="Y" 
# -----------------
# Enables silent LSF installation.
#
# Set the value to "Y" to enable the silent install. 
#
# Default: LSF silent install is disabled.
#
# -----------------
ACCEPT_LICENSE="Y"
# -----------------
# Agree to the IBM Spectrum LSF end user license agreement.
#
# Set the value to "Y" to accept the IBM Spectrum LSF end user license
# agreement.
#
# Default: N
#
#
#**********************************************************
#                      END OF FILE
#**********************************************************




